$abu-50: #FAFAFA !default;
$abu-100: #F5F5F5 !default;
$abu-200: #EEEEEE !default;
$abu-300: #E0E0E0 !default;
$abu-400: #BDBDBD !default;
$abu-500: #9E9E9E !default;
$abu-600: #757575 !default;
$abu-700: #616161 !default;
$abu-800: #424242 !default;
$abu-900: #212121 !default;
$biru-abu-50: #E3E7ED !default;
$biru-abu-100: #B9C3D3 !default;
$biru-abu-200: #8D9DB5 !default;
$biru-abu-300: #627798 !default;
$biru-abu-400: #415C84 !default;
$biru-abu-500: #1A4373 !default;
$biru-abu-600: #133C6B !default;
$biru-abu-700: #083461 !default;
$biru-abu-800: #022B55 !default;
$biru-abu-900: #001B3D !default;
$biru-50: #E3F2FD !default;
$biru-100: #BBDEFB !default;
$biru-200: #90CAF9 !default;
$biru-300: #64B5F6 !default;
$biru-400: #42A5F5 !default;
$biru-500: #2196F3 !default;
$biru-600: #1E88E5 !default;
$biru-700: #1976D2 !default;
$biru-800: #1565C0 !default;
$biru-900: #0D47A1 !default;
$hijau-50: #E6F6EC !default;
$hijau-100: #C3E9D0 !default;
$hijau-200: #9BDBB3 !default;
$hijau-300: #70CD94 !default;
$hijau-400: #4DC27E !default;
$hijau-500: #1FB767 !default;
$hijau-600: #16A75C !default;
$hijau-700: #069550 !default;
$hijau-800: #008444 !default;
$hijau-900: #006430 !default;
$hitam: #000000 !default;
$kuning-50: #FAFAFA !default;
$kuning-100: #FFEEB4 !default;
$kuning-200: #FFE483 !default;
$kuning-300: #FFDA4F !default;
$kuning-400: #FFD206 !default;
$kuning-500: #FFC800 !default;
$kuning-600: #FFB900 !default;
$kuning-700: #FFA600 !default;
$kuning-800: #FF9500 !default;
$kuning-900: #FF7500 !default;
$merah-50: #FFEBEE !default;
$merah-100: #FFCDD2 !default;
$merah-200: #EF9A9A !default;
$merah-300: #E57373 !default;
$merah-400: #EF5350 !default;
$merah-500: #F44336 !default;
$merah-600: #E53935 !default;
$merah-700: #D32F2F !default;
$merah-800: #C62828 !default;
$merah-900: #B71B1C !default;
$pink-50: #FFE6EC !default;
$pink-100: #FFBFCF !default;
$pink-200: #FF96AF !default;
$pink-300: #FF6C8F !default;
$pink-400: #FF4D77 !default;
$pink-500: #FD355F !default;
$pink-600: #EC305D !default;
$pink-700: #D62A59 !default;
$pink-800: #C12357 !default;
$pink-900: #9D1951 !default;
$putih: #FFFFFF !default;
$ungu-50: #F3E5F5 !default;
$ungu-100: #E1BEE7 !default;
$ungu-200: #CE93D8 !default;
$ungu-300: #BA68C8 !default;
$ungu-400: #AB47BC !default;
$ungu-500: #9B27B0 !default;
$ungu-600: #8D24AA !default;
$ungu-700: #7A1FA2 !default;
$ungu-800: #691B9A !default;
$ungu-900: #49148C !default;
