@use './variables/colors';
.text-abu-50 {
  color: colors.$abu-50;
}
.background-abu-50 {
  background-color: colors.$abu-50;
}

.text-abu-100 {
  color: colors.$abu-100;
}
.background-abu-100 {
  background-color: colors.$abu-100;
}

.text-abu-200 {
  color: colors.$abu-200;
}
.background-abu-200 {
  background-color: colors.$abu-200;
}

.text-abu-300 {
  color: colors.$abu-300;
}
.background-abu-300 {
  background-color: colors.$abu-300;
}

.text-abu-400 {
  color: colors.$abu-400;
}
.background-abu-400 {
  background-color: colors.$abu-400;
}

.text-abu-500 {
  color: colors.$abu-500;
}
.background-abu-500 {
  background-color: colors.$abu-500;
}

.text-abu-600 {
  color: colors.$abu-600;
}
.background-abu-600 {
  background-color: colors.$abu-600;
}

.text-abu-700 {
  color: colors.$abu-700;
}
.background-abu-700 {
  background-color: colors.$abu-700;
}

.text-abu-800 {
  color: colors.$abu-800;
}
.background-abu-800 {
  background-color: colors.$abu-800;
}

.text-abu-900 {
  color: colors.$abu-900;
}
.background-abu-900 {
  background-color: colors.$abu-900;
}

.text-biru-abu-50 {
  color: colors.$biru-abu-50;
}
.background-biru-abu-50 {
  background-color: colors.$biru-abu-50;
}

.text-biru-abu-100 {
  color: colors.$biru-abu-100;
}
.background-biru-abu-100 {
  background-color: colors.$biru-abu-100;
}

.text-biru-abu-200 {
  color: colors.$biru-abu-200;
}
.background-biru-abu-200 {
  background-color: colors.$biru-abu-200;
}

.text-biru-abu-300 {
  color: colors.$biru-abu-300;
}
.background-biru-abu-300 {
  background-color: colors.$biru-abu-300;
}

.text-biru-abu-400 {
  color: colors.$biru-abu-400;
}
.background-biru-abu-400 {
  background-color: colors.$biru-abu-400;
}

.text-biru-abu-500 {
  color: colors.$biru-abu-500;
}
.background-biru-abu-500 {
  background-color: colors.$biru-abu-500;
}

.text-biru-abu-600 {
  color: colors.$biru-abu-600;
}
.background-biru-abu-600 {
  background-color: colors.$biru-abu-600;
}

.text-biru-abu-700 {
  color: colors.$biru-abu-700;
}
.background-biru-abu-700 {
  background-color: colors.$biru-abu-700;
}

.text-biru-abu-800 {
  color: colors.$biru-abu-800;
}
.background-biru-abu-800 {
  background-color: colors.$biru-abu-800;
}

.text-biru-abu-900 {
  color: colors.$biru-abu-900;
}
.background-biru-abu-900 {
  background-color: colors.$biru-abu-900;
}

.text-biru-50 {
  color: colors.$biru-50;
}
.background-biru-50 {
  background-color: colors.$biru-50;
}

.text-biru-100 {
  color: colors.$biru-100;
}
.background-biru-100 {
  background-color: colors.$biru-100;
}

.text-biru-200 {
  color: colors.$biru-200;
}
.background-biru-200 {
  background-color: colors.$biru-200;
}

.text-biru-300 {
  color: colors.$biru-300;
}
.background-biru-300 {
  background-color: colors.$biru-300;
}

.text-biru-400 {
  color: colors.$biru-400;
}
.background-biru-400 {
  background-color: colors.$biru-400;
}

.text-biru-500 {
  color: colors.$biru-500;
}
.background-biru-500 {
  background-color: colors.$biru-500;
}

.text-biru-600 {
  color: colors.$biru-600;
}
.background-biru-600 {
  background-color: colors.$biru-600;
}

.text-biru-700 {
  color: colors.$biru-700;
}
.background-biru-700 {
  background-color: colors.$biru-700;
}

.text-biru-800 {
  color: colors.$biru-800;
}
.background-biru-800 {
  background-color: colors.$biru-800;
}

.text-biru-900 {
  color: colors.$biru-900;
}
.background-biru-900 {
  background-color: colors.$biru-900;
}

.text-hijau-50 {
  color: colors.$hijau-50;
}
.background-hijau-50 {
  background-color: colors.$hijau-50;
}

.text-hijau-100 {
  color: colors.$hijau-100;
}
.background-hijau-100 {
  background-color: colors.$hijau-100;
}

.text-hijau-200 {
  color: colors.$hijau-200;
}
.background-hijau-200 {
  background-color: colors.$hijau-200;
}

.text-hijau-300 {
  color: colors.$hijau-300;
}
.background-hijau-300 {
  background-color: colors.$hijau-300;
}

.text-hijau-400 {
  color: colors.$hijau-400;
}
.background-hijau-400 {
  background-color: colors.$hijau-400;
}

.text-hijau-500 {
  color: colors.$hijau-500;
}
.background-hijau-500 {
  background-color: colors.$hijau-500;
}

.text-hijau-600 {
  color: colors.$hijau-600;
}
.background-hijau-600 {
  background-color: colors.$hijau-600;
}

.text-hijau-700 {
  color: colors.$hijau-700;
}
.background-hijau-700 {
  background-color: colors.$hijau-700;
}

.text-hijau-800 {
  color: colors.$hijau-800;
}
.background-hijau-800 {
  background-color: colors.$hijau-800;
}

.text-hijau-900 {
  color: colors.$hijau-900;
}
.background-hijau-900 {
  background-color: colors.$hijau-900;
}

.text-hitam {
  color: colors.$hitam;
}
.background-hitam {
  background-color: colors.$hitam;
}

.text-kuning-50 {
  color: colors.$kuning-50;
}
.background-kuning-50 {
  background-color: colors.$kuning-50;
}

.text-kuning-100 {
  color: colors.$kuning-100;
}
.background-kuning-100 {
  background-color: colors.$kuning-100;
}

.text-kuning-200 {
  color: colors.$kuning-200;
}
.background-kuning-200 {
  background-color: colors.$kuning-200;
}

.text-kuning-300 {
  color: colors.$kuning-300;
}
.background-kuning-300 {
  background-color: colors.$kuning-300;
}

.text-kuning-400 {
  color: colors.$kuning-400;
}
.background-kuning-400 {
  background-color: colors.$kuning-400;
}

.text-kuning-500 {
  color: colors.$kuning-500;
}
.background-kuning-500 {
  background-color: colors.$kuning-500;
}

.text-kuning-600 {
  color: colors.$kuning-600;
}
.background-kuning-600 {
  background-color: colors.$kuning-600;
}

.text-kuning-700 {
  color: colors.$kuning-700;
}
.background-kuning-700 {
  background-color: colors.$kuning-700;
}

.text-kuning-800 {
  color: colors.$kuning-800;
}
.background-kuning-800 {
  background-color: colors.$kuning-800;
}

.text-kuning-900 {
  color: colors.$kuning-900;
}
.background-kuning-900 {
  background-color: colors.$kuning-900;
}

.text-merah-50 {
  color: colors.$merah-50;
}
.background-merah-50 {
  background-color: colors.$merah-50;
}

.text-merah-100 {
  color: colors.$merah-100;
}
.background-merah-100 {
  background-color: colors.$merah-100;
}

.text-merah-200 {
  color: colors.$merah-200;
}
.background-merah-200 {
  background-color: colors.$merah-200;
}

.text-merah-300 {
  color: colors.$merah-300;
}
.background-merah-300 {
  background-color: colors.$merah-300;
}

.text-merah-400 {
  color: colors.$merah-400;
}
.background-merah-400 {
  background-color: colors.$merah-400;
}

.text-merah-500 {
  color: colors.$merah-500;
}
.background-merah-500 {
  background-color: colors.$merah-500;
}

.text-merah-600 {
  color: colors.$merah-600;
}
.background-merah-600 {
  background-color: colors.$merah-600;
}

.text-merah-700 {
  color: colors.$merah-700;
}
.background-merah-700 {
  background-color: colors.$merah-700;
}

.text-merah-800 {
  color: colors.$merah-800;
}
.background-merah-800 {
  background-color: colors.$merah-800;
}

.text-merah-900 {
  color: colors.$merah-900;
}
.background-merah-900 {
  background-color: colors.$merah-900;
}

.text-pink-50 {
  color: colors.$pink-50;
}
.background-pink-50 {
  background-color: colors.$pink-50;
}

.text-pink-100 {
  color: colors.$pink-100;
}
.background-pink-100 {
  background-color: colors.$pink-100;
}

.text-pink-200 {
  color: colors.$pink-200;
}
.background-pink-200 {
  background-color: colors.$pink-200;
}

.text-pink-300 {
  color: colors.$pink-300;
}
.background-pink-300 {
  background-color: colors.$pink-300;
}

.text-pink-400 {
  color: colors.$pink-400;
}
.background-pink-400 {
  background-color: colors.$pink-400;
}

.text-pink-500 {
  color: colors.$pink-500;
}
.background-pink-500 {
  background-color: colors.$pink-500;
}

.text-pink-600 {
  color: colors.$pink-600;
}
.background-pink-600 {
  background-color: colors.$pink-600;
}

.text-pink-700 {
  color: colors.$pink-700;
}
.background-pink-700 {
  background-color: colors.$pink-700;
}

.text-pink-800 {
  color: colors.$pink-800;
}
.background-pink-800 {
  background-color: colors.$pink-800;
}

.text-pink-900 {
  color: colors.$pink-900;
}
.background-pink-900 {
  background-color: colors.$pink-900;
}

.text-putih {
  color: colors.$putih;
}
.background-putih {
  background-color: colors.$putih;
}

.text-ungu-50 {
  color: colors.$ungu-50;
}
.background-ungu-50 {
  background-color: colors.$ungu-50;
}

.text-ungu-100 {
  color: colors.$ungu-100;
}
.background-ungu-100 {
  background-color: colors.$ungu-100;
}

.text-ungu-200 {
  color: colors.$ungu-200;
}
.background-ungu-200 {
  background-color: colors.$ungu-200;
}

.text-ungu-300 {
  color: colors.$ungu-300;
}
.background-ungu-300 {
  background-color: colors.$ungu-300;
}

.text-ungu-400 {
  color: colors.$ungu-400;
}
.background-ungu-400 {
  background-color: colors.$ungu-400;
}

.text-ungu-500 {
  color: colors.$ungu-500;
}
.background-ungu-500 {
  background-color: colors.$ungu-500;
}

.text-ungu-600 {
  color: colors.$ungu-600;
}
.background-ungu-600 {
  background-color: colors.$ungu-600;
}

.text-ungu-700 {
  color: colors.$ungu-700;
}
.background-ungu-700 {
  background-color: colors.$ungu-700;
}

.text-ungu-800 {
  color: colors.$ungu-800;
}
.background-ungu-800 {
  background-color: colors.$ungu-800;
}

.text-ungu-900 {
  color: colors.$ungu-900;
}
.background-ungu-900 {
  background-color: colors.$ungu-900;
}
