.text-abu-50 {
  color: #fafafa;
}
.background-abu-50 {
  background-color: #fafafa;
}

.text-abu-100 {
  color: #f5f5f5;
}
.background-abu-100 {
  background-color: #f5f5f5;
}

.text-abu-200 {
  color: #eeeeee;
}
.background-abu-200 {
  background-color: #eeeeee;
}

.text-abu-300 {
  color: #e0e0e0;
}
.background-abu-300 {
  background-color: #e0e0e0;
}

.text-abu-400 {
  color: #bdbdbd;
}
.background-abu-400 {
  background-color: #bdbdbd;
}

.text-abu-500 {
  color: #9e9e9e;
}
.background-abu-500 {
  background-color: #9e9e9e;
}

.text-abu-600 {
  color: #757575;
}
.background-abu-600 {
  background-color: #757575;
}

.text-abu-700 {
  color: #616161;
}
.background-abu-700 {
  background-color: #616161;
}

.text-abu-800 {
  color: #424242;
}
.background-abu-800 {
  background-color: #424242;
}

.text-abu-900 {
  color: #212121;
}
.background-abu-900 {
  background-color: #212121;
}

.text-biruabu-50 {
  color: #e3e7ed;
}
.background-biruabu-50 {
  background-color: #e3e7ed;
}

.text-biruabu-100 {
  color: #b9c3d3;
}
.background-biruabu-100 {
  background-color: #b9c3d3;
}

.text-biruabu-200 {
  color: #8d9db5;
}
.background-biruabu-200 {
  background-color: #8d9db5;
}

.text-biruabu-300 {
  color: #627798;
}
.background-biruabu-300 {
  background-color: #627798;
}

.text-biruabu-400 {
  color: #415c84;
}
.background-biruabu-400 {
  background-color: #415c84;
}

.text-biruabu-500 {
  color: #1a4373;
}
.background-biruabu-500 {
  background-color: #1a4373;
}

.text-biruabu-600 {
  color: #133c6b;
}
.background-biruabu-600 {
  background-color: #133c6b;
}

.text-biruabu-700 {
  color: #083461;
}
.background-biruabu-700 {
  background-color: #083461;
}

.text-biruabu-800 {
  color: #022b55;
}
.background-biruabu-800 {
  background-color: #022b55;
}

.text-biruabu-900 {
  color: #001b3d;
}
.background-biruabu-900 {
  background-color: #001b3d;
}

.text-biru-50 {
  color: #e3f2fd;
}
.background-biru-50 {
  background-color: #e3f2fd;
}

.text-biru-100 {
  color: #bbdefb;
}
.background-biru-100 {
  background-color: #bbdefb;
}

.text-biru-200 {
  color: #90caf9;
}
.background-biru-200 {
  background-color: #90caf9;
}

.text-biru-300 {
  color: #64b5f6;
}
.background-biru-300 {
  background-color: #64b5f6;
}

.text-biru-400 {
  color: #42a5f5;
}
.background-biru-400 {
  background-color: #42a5f5;
}

.text-biru-500 {
  color: #2196f3;
}
.background-biru-500 {
  background-color: #2196f3;
}

.text-biru-600 {
  color: #1e88e5;
}
.background-biru-600 {
  background-color: #1e88e5;
}

.text-biru-700 {
  color: #1976d2;
}
.background-biru-700 {
  background-color: #1976d2;
}

.text-biru-800 {
  color: #1565c0;
}
.background-biru-800 {
  background-color: #1565c0;
}

.text-biru-900 {
  color: #0d47a1;
}
.background-biru-900 {
  background-color: #0d47a1;
}

.text-hijau-50 {
  color: #e6f6ec;
}
.background-hijau-50 {
  background-color: #e6f6ec;
}

.text-hijau-100 {
  color: #c3e9d0;
}
.background-hijau-100 {
  background-color: #c3e9d0;
}

.text-hijau-200 {
  color: #9bdbb3;
}
.background-hijau-200 {
  background-color: #9bdbb3;
}

.text-hijau-300 {
  color: #70cd94;
}
.background-hijau-300 {
  background-color: #70cd94;
}

.text-hijau-400 {
  color: #4dc27e;
}
.background-hijau-400 {
  background-color: #4dc27e;
}

.text-hijau-500 {
  color: #1fb767;
}
.background-hijau-500 {
  background-color: #1fb767;
}

.text-hijau-600 {
  color: #16a75c;
}
.background-hijau-600 {
  background-color: #16a75c;
}

.text-hijau-700 {
  color: #069550;
}
.background-hijau-700 {
  background-color: #069550;
}

.text-hijau-800 {
  color: #008444;
}
.background-hijau-800 {
  background-color: #008444;
}

.text-hijau-900 {
  color: #006430;
}
.background-hijau-900 {
  background-color: #006430;
}

.text-hitam {
  color: #000000;
}
.background-hitam {
  background-color: #000000;
}

.text-kuning-50 {
  color: #fafafa;
}
.background-kuning-50 {
  background-color: #fafafa;
}

.text-kuning-100 {
  color: #ffeeb4;
}
.background-kuning-100 {
  background-color: #ffeeb4;
}

.text-kuning-200 {
  color: #ffe483;
}
.background-kuning-200 {
  background-color: #ffe483;
}

.text-kuning-300 {
  color: #ffda4f;
}
.background-kuning-300 {
  background-color: #ffda4f;
}

.text-kuning-400 {
  color: #ffd206;
}
.background-kuning-400 {
  background-color: #ffd206;
}

.text-kuning-500 {
  color: #ffc800;
}
.background-kuning-500 {
  background-color: #ffc800;
}

.text-kuning-600 {
  color: #ffb900;
}
.background-kuning-600 {
  background-color: #ffb900;
}

.text-kuning-700 {
  color: #ffa600;
}
.background-kuning-700 {
  background-color: #ffa600;
}

.text-kuning-800 {
  color: #ff9500;
}
.background-kuning-800 {
  background-color: #ff9500;
}

.text-kuning-900 {
  color: #ff7500;
}
.background-kuning-900 {
  background-color: #ff7500;
}

.text-merah-50 {
  color: #ffebee;
}
.background-merah-50 {
  background-color: #ffebee;
}

.text-merah-100 {
  color: #ffcdd2;
}
.background-merah-100 {
  background-color: #ffcdd2;
}

.text-merah-200 {
  color: #ef9a9a;
}
.background-merah-200 {
  background-color: #ef9a9a;
}

.text-merah-300 {
  color: #e57373;
}
.background-merah-300 {
  background-color: #e57373;
}

.text-merah-400 {
  color: #ef5350;
}
.background-merah-400 {
  background-color: #ef5350;
}

.text-merah-500 {
  color: #f44336;
}
.background-merah-500 {
  background-color: #f44336;
}

.text-merah-600 {
  color: #e53935;
}
.background-merah-600 {
  background-color: #e53935;
}

.text-merah-700 {
  color: #d32f2f;
}
.background-merah-700 {
  background-color: #d32f2f;
}

.text-merah-800 {
  color: #c62828;
}
.background-merah-800 {
  background-color: #c62828;
}

.text-merah-900 {
  color: #b71b1c;
}
.background-merah-900 {
  background-color: #b71b1c;
}

.text-pink-50 {
  color: #ffe6ec;
}
.background-pink-50 {
  background-color: #ffe6ec;
}

.text-pink-100 {
  color: #ffbfcf;
}
.background-pink-100 {
  background-color: #ffbfcf;
}

.text-pink-200 {
  color: #ff96af;
}
.background-pink-200 {
  background-color: #ff96af;
}

.text-pink-300 {
  color: #ff6c8f;
}
.background-pink-300 {
  background-color: #ff6c8f;
}

.text-pink-400 {
  color: #ff4d77;
}
.background-pink-400 {
  background-color: #ff4d77;
}

.text-pink-500 {
  color: #fd355f;
}
.background-pink-500 {
  background-color: #fd355f;
}

.text-pink-600 {
  color: #ec305d;
}
.background-pink-600 {
  background-color: #ec305d;
}

.text-pink-700 {
  color: #d62a59;
}
.background-pink-700 {
  background-color: #d62a59;
}

.text-pink-800 {
  color: #c12357;
}
.background-pink-800 {
  background-color: #c12357;
}

.text-pink-900 {
  color: #9d1951;
}
.background-pink-900 {
  background-color: #9d1951;
}

.text-putih {
  color: #ffffff;
}
.background-putih {
  background-color: #ffffff;
}

.text-ungu-50 {
  color: #f3e5f5;
}
.background-ungu-50 {
  background-color: #f3e5f5;
}

.text-ungu-100 {
  color: #e1bee7;
}
.background-ungu-100 {
  background-color: #e1bee7;
}

.text-ungu-200 {
  color: #ce93d8;
}
.background-ungu-200 {
  background-color: #ce93d8;
}

.text-ungu-300 {
  color: #ba68c8;
}
.background-ungu-300 {
  background-color: #ba68c8;
}

.text-ungu-400 {
  color: #ab47bc;
}
.background-ungu-400 {
  background-color: #ab47bc;
}

.text-ungu-500 {
  color: #9b27b0;
}
.background-ungu-500 {
  background-color: #9b27b0;
}

.text-ungu-600 {
  color: #8d24aa;
}
.background-ungu-600 {
  background-color: #8d24aa;
}

.text-ungu-700 {
  color: #7a1fa2;
}
.background-ungu-700 {
  background-color: #7a1fa2;
}

.text-ungu-800 {
  color: #691b9a;
}
.background-ungu-800 {
  background-color: #691b9a;
}

.text-ungu-900 {
  color: #49148c;
}
.background-ungu-900 {
  background-color: #49148c;
}
