@use '../jds-design-system/variables/colors';

.docs-markdown-content {
  line-height: 1.618;

  * {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;

    & + p {
      margin-top: 8px;
    }
  }

  * + {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 1em;
    }
  }

  h1 {
    font-size: 49px;
  }

  h2 {
    font-size: 37px;
  }

  h3 {
    color: colors.$hijau-600;
    font-size: 28px;
  }

  h4 {
    font-size: 21px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  .subtitle-1 {
    font-size: 14px;
  }

  .subtitle-2 {
    font-size: 13px;
  }

  p {
    color: colors.$abu-800;

    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6,
    & + ol,
    & + li,
    & + p {
      margin-top: 1em;
    }

    + .jds-row {
      margin-top: 0;
    }
  }

  p:empty,
  p:blank {
    display: none;
  }

  ol,
  ul {
    list-style-position: outside;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 21px;
  }

  ol {
    list-style-type: decimal-leading-zero;
    padding-left: 1.75em;

    > li {
      padding-left: 0.5em;
    }

    > li + li {
      margin-top: 2em;
    }
  }

  ul {
    list-style-type: disc;
    padding-left: 1.2em;

    > li {
      padding-left: 0.5em;
    }

    > li + li {
      margin-top: 1em;
    }
  }

  li {
    font-weight: 500;
  }

  li > p {
    &:first-child {
      font-size: inherit;
      font-weight: inherit;
      display: inline-block;
      vertical-align: top;
    }

    &:only-child {
      display: inline;
      vertical-align: baseline;
    }

    &:not(:first-child),
    &:only-child {
      margin-top: 0.5em;
      font-size: 1rem;
      font-weight: normal;
    }
  }

  b, strong {
    font-weight: bold;
  }
}
